
runpod/
.idea/
micromamba/
.vscode/

__pycache__/

final_data_gold/

*.xlsx
*.csv
!/Results/*.csv

final_data/

models/

*.DS_Store

Project.md

Old/
Old2/

Arrow_Codes/

MTA_Research_Progress copy.md
